<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>

<body>
  <p>Hello {{ session['fname'] }} {{ session["lname"] }}</p>
  <a href="{{ url_for('add_object') }}"><button>Add object</button></a><br>
  <a href="{{ url_for('logout') }}">LOGOUT</a><br>
  <a href="{{ url_for('profile') }}">Profile</a><br>

  {% if session["level"] >= 20 %}
  <a href="{{ url_for('admin_panel') }}">Admin Panel</a><br>
  {% endif %}

  <a href="{{ url_for('config_maison') }}">manage maison</a>

</body>

</html>