<!DOCTYPE html>
<html>

<head>
  <title>Mon site Flask</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
  <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
</head>

<body>
  <h1>Hello World</h1>
  <p>Cette page est le freetour. <br>
    Boutons : redirection -> connecter/s'inscrire <br>
    Front end : présentation des fonctionnalités de la platforme.
    On a aussi une liste des objets connectés disponibles proposés par la platforme (radiateurs, volets, enceintes...)
    <br>
    On peut les filtrer : batterie (oui/non), sécurité (ex: cameras), comfort (oui/non, ex: radiateur, volets),
    connectique (wifi, bluethooth) etc
  </p>

  <a href="{{ url_for('signin')}}">SIGN IN, SIGN UP</a>
</body>

</html>