<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Remove an object</title>
</head>

<body>
  {% if message %}
  <p style="color: red;">{{ message }}</p>
  {% endif %}
  <form action="{{ url_for('remove_object') }}" method="post">
    <label for="table_name">Select Table to Remove:</label>
    <select id="table_name" name="table_name" required>
      <option value="" disabled selected>Select a table</option>
      {% for table in tables %}
      <option value="{{ table }}">{{ table }}</option>
      {% endfor %}
    </select>
    <button type="submit">Remove Table</button>
  </form>

  <a href="{{ url_for('admin_panel') }}">Go back</a>
</body>

</html>