<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Sign In | Sign Up</title>
</head>

<body>
  {% if request.args.get('message') %}
  <p style="color:red">{{ request.args.get('message') }}</p>
  {% endif %}

  {% if message %}
  <div style="color: red;">
    {{ message }}
  </div>
  {% endif %}

  <form method="POST" action="{{url_for('login')}}">
    <h3>SIGN IN</h3>
    <input type="text" id="username" name="username" required placeholder="username" minlength="3" maxlength="32">
    <br>
    <input type="password" id="password" name="password" required placeholder="password" minlength="0" maxlength="32">
    <br>
    <button type="submit" name="action" value="signin">Sign in</button>
  </form>

  <br><br><br>

  <form method="POST" action="{{url_for('login')}}">
    <h3>SIGN UP</h3>
    <input type="text" id="username" name="username" required placeholder="username" minlength="3" maxlength="32">
    <br>
    <input type="text" id="fname" name="fname" required placeholder="first name" minlength="3" maxlength="32">
    <br>
    <input type="text" id="lname" name="lname" required placeholder="last name" minlength="3" maxlength="32">
    <br>
    <input type="password" id="password" name="password" required placeholder="password" minlength="0" maxlength="32">
    <br>
    <input id="email" name="email" placeholder="Email" required minlength="3" maxlength="64">
    <br>

    <select id="gender" name="gender" required>
      <option value="" disabled selected>Select your gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <br>

    <select id="role" name="role" required>
      <option value="" disabled selected>Select your role</option>
      <option value="parent">Parent</option>
      <option value="child">Child</option>
    </select>

    <br>

    <label for="birthdate">Birthdate:</label>
    <input type="date" id="birthdate" name="birthdate" required>

    <br>
    <button type="submit" name="action" value="signup">Sign up</button>
  </form>
</body>

</html>