{% extends "base_layout.html"%}
{%block head%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/user_profile.css') }}">

{%endblock%}
{% block title%}{{user.username}}'s profile{%endblock%}

{%block list%}

<ul class="custom-ul">
  {{super()}}
  <li><a href="{{ url_for('dashboard')}}">Tableau de bord</a></li>
  <li><a href="{{ url_for('config_maison')}}">Gérer maison</a></li>
  <li><a href="{{ url_for('profile') }}">Profil</a></li>

  <li>
    <a href="{{url_for('logout')}}"><button class="button-signup custom-button">Déconnexion</button></a>
  </li>
</ul>

{%endblock%}

{% block content%}

<div id="info-member-container">
  <div class="custom-container">
    <h1>Profil de {{ user.username }}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
    </svg>
    <p>Nom d'utilisateur : {{ user.username }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Genre : {{ user.gender }}</p>
    <p>Role : {{ user.role }}</p>
    <p>Anniversaire : {{ user.birthdate.strftime("%d-%m-%Y") }}</p>
    <p>Niveau : {{ user.level }}</p>
  </div>
</div>



{%endblock%}


{% block foot %}
<li>Qui sommes-nous</li>
<li>FAQ</li>
<li>En savoir plus</li>
{%endblock%}