  body{
    background-color: #ecf3fe;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 300dvh;
  }

  body:has(input[type=checkbox]:checked) {
    overflow-y: hidden;
  }

  .custom-button{
    background-color: #2463eb;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
  }
  .button-signup {
    padding: 7px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  .custom-ul button{
    margin-left: auto;
  }
  .nav-container{
    display: flex;
    justify-content: center;
    height: auto;
  }
  nav {
    background-color: white;
    color: #2463eb;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0,0,0,.2);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .custom-ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    
  }
  
  .custom-ul li {
    margin-right: 20px;
  }
  
  .custom-ul li a {
    color: #2463eb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .custom-ul li a:hover {
    color: #a7c1f7;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #2463eb;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
    
   nav .custom-ul {
      position: fixed;
      z-index: 1;
      top: 80px;
      right: -100%;
      background-color: white;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      box-shadow: 2px 4px 8px rgba(0,0,0,.2);

    }
  
    nav .custom-ul> li {
      margin: 20px 0;
    }

    .custom-ul li a {
      font-size: 20px;
    }

    #check:checked ~ ul {
      right: 0;
    }
    #footer-info ul{
      display: block;

    }

  }

  footer ul{
    margin-top: 20px;
    justify-content: space-between;
    color:#2463eb;
  }
  footer p {
    font-size: smaller;
    color:gray;
  }
  .wrapper{
    min-height: 20%;
    margin-bottom: -20px;
  }

  footer {
    position: absolute;
    bottom: 0;
    display: block;
    background-color: white;
    text-align: center;
    padding-top: 30px;
    width: 100%;
    
  }
  #footer-info{
    display: flex;
    justify-content: center;
  }
