
.custom-container{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 2px;
}

#user-container{
    width: 70%;
    display: block;
    
}

#profile-container{
    display: flex;
    justify-content: center;
    text-align: center;
} 

#edit-info-button-container{

    grid-template-rows: 1fr !important;
    margin: 10px 0;

}
#account-info{
    padding: 10px;
}

#account-info>div{
    display: grid;
    grid-template-rows:1fr 1fr;
    align-items: end;
    justify-content: center;

}

#user-info-container>div label:first-of-type{
    font-size: small;
    color: rgb(114, 114, 114);
}
#edit-info-button,
#cancel-info-button{
    padding: 13px 40px;
    max-width: 150px;
}

.change-info-form{
    display: flex;
    flex-direction: column;
    color: #4f4f4f;
}

.change-info-form input{
    height: 40px;
    max-width: 276.5px;
    border: 0.2px solid gray;
    margin-bottom: 2px;
    background-color: #E8F0FE;

}
.change-info-form button{
    margin-top: 10px;
    height: 40px;
    max-width: 285px;
}

#family-container>ul{
    list-style: none;
    padding: 0; /* Remove paddig added by default by the ul tag*/
   
}
.family-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0  max(20px, 8dvw)
}

#change-info-form-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 20px;
    min-width: 380px;
}

.hide-form,
.hide{
    display: none;
}
.red-btn{
    background-color: red;
}

ul li.family-banner{
    font-size: max(x-large,60px);
}
.bi.bi-person{
    height: min(3em,60px);
    
}

@media (min-width: 768px) {
    #account-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
        align-items: end;
        justify-items: center;
    }

    .hide-form{
        visibility: hidden;
        display: inherit;
    }

    ul li.family-banner{
        font-size: x-large;
    }
    #user-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    #family-container{
        grid-column: 1/span 2;
    }
    #edit-info-button-container{
        margin:inherit;
    }
    #change-info-form-container{
        display: flex;
        justify-content: space-around;
        align-items: end;
        margin-bottom: 5px;
    }
    
}
